
.video-background {
  position: fixed;
  top: -1.1%;
  left: 0%;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover; /*the fill type of the media*/
}

.video-background__container {
  width:100vw;
  height:100vh;
}



@media (min-width: 1200px) {
  .video-background {height: 105.5%;top: -1%;}
}
@media (max-width: 1200px) {
    .video-background {}
  
}
@media (max-width: 992px) {
    .video-background {/*! height: 39.5%; */}
  
}
@media (max-width: 768px) {
    .video-background {}
  
}
@media (max-width: 480px) {
    .video-background {height: 109.6%;width: 100%;object-position: 71.1%;transform: translateY(-2%);}
  
}