.video-background__container {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;   
  height: 100svh;  
  height: 100dvh;  
  overflow: hidden;
  min-height: 100vh;
}

.video-background {
  display:block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .video-background {object-position: 72%;}
}


@media (min-width: 1200px) {
  .video-background {
    object-position: center;
  }
}

@media (max-width: 992px) {
  

}

@media (max-width: 768px) {
  

}

@media (max-width: 480px) {
  .video-background {
    object-position: 72.1% center;
  }
  
}
