/* 1️⃣ RESET / NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  display: block;
}

@media (min-width: 1200px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 480px) {
  
}