body {
  /*! height: 100%; */
  width: 100vw;
  overflow-x: hidden;
  --logo-height: 79px;
}

body.active {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  /*! width:100vw; */
}

header {
  display: flex;
  flex-direction: column;
  /*position: relative;*/
  /*! z-index: -1; */
}

main {

  /*! display: none; */
  overflow-y: hidden;
}

main.active {
  display: block;
}






@media (min-width: 1200px) {

  main.active {
    display: block;
    overflow-x: clip;
  }
}

@media (max-width: 1200px) {

  main.active {
    display: block;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {

  main.active {
    display: block;
  }
}

@media (max-width: 480px) {

  main.active {
    display: block;
    overflow-y: initial;
    overflow-x: clip;
  }
  .page-home{
    margin-bottom:100vh;
  }
}