body {
  width: 100%;
  overflow-x: hidden;
  --logo-height: 79px;
}

header {
  display: flex;
  flex-direction: column;
}

.page-home .spacer {
  width:100%;
  height:100vh;
}


@media (max-width: 480px) {

  main {
    overflow-y:hidden;
    overflow-x: hidden;
  }
  
}