body {
  width: 100%;
  overflow-x: hidden;
  --logo-height: 79px;
}

header {
  display: flex;
  flex-direction: column;
}


@media (max-width: 480px) {

  .page-home{
    margin-bottom:100vh;
  }
  main {
    overflow-y:hidden;
  }
  
}