body {
  --margin-space:90%;
  width: 100%;
  overflow-x: hidden;
  --logo-height: 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

header {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.page-home .spacer {
  width:100%;
  height:100vh;
}


@media (max-width: 480px) {

  main {
    overflow-y:hidden;
    overflow-x: hidden;
  }
  
}