body{
  /*background-color:rgba(0, 0, 0, 0);*/
  overflow-x: hidden;
  /*! width:100vw; */
}

header{
  display:flex;
  flex-direction:column;
  position: relative;
  z-index: -1;
}


.empty-space2 {
  height: 100vh;
}

@media (min-width: 1200px) {
  .empty-space2 {
  }
}
@media (max-width: 1200px) {
  .empty-space2 {
  }
}
@media (max-width: 992px) {
  .empty-space2 {
  height: 49.3vh;
  }
}
@media (max-width: 768px) {
  .empty-space2 {
  }
}
@media (max-width: 480px) {
  .empty-space2 {
  height: 20.4vh;
  }
}