html, body {
  height:100%;
}

body.active {
  background-color:rgb(255, 255, 255);
  overflow: hidden;
  /*! width:100vw; */
}

header {
  display:flex;
  flex-direction:column;
  /*position: relative;*/
  z-index: -1;
  --logo-height: 79px;
}

main {
  
  display:none;
}
main.active {
  display:block;
}


.empty-space2 {
  height: 728.8px;
}

@media (min-width: 1200px) {
  .empty-space2 {
  }
}
@media (max-width: 1200px) {
  .empty-space2 {
  }
}
@media (max-width: 992px) {
  .empty-space2 {
  height: 531.8px;
  }
}
@media (max-width: 768px) {
  .empty-space2 {
  }
}
@media (max-width: 480px) {
  .empty-space2 {
  height: 100vh;
  }
}