.contact-form__container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  --bg-color: #eaeaea;
  margin-bottom: var(--element-gap);
  background-color: white;
}

.contact-form__container * {
  color: black;
}

.contact-form__content {
}

.contact-form__content {
  width: 80%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.contact-form__content p {
  font-size: var(--p-main);
  margin-bottom: 0.9em;
}

.contact-form__content h2 {
  margin-bottom: 1em;
}

.contact-form__form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.7em;
}

.contact-form__form-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact-form__form-group label {
  font-size: var(--p-submain);
  font-weight: bold;
}

.contact-form__form-group input {
  width: 28.5%;
  height: auto;
  padding-block: 0.4em;
  color: black;
  font-size: 1rem;
  background-color: var(--bg-color);
  min-width: 153px;
}

.contact-form__form-group.message textarea {
  margin-bottom: 0.6em;
  width: 100%;
  min-height: 189px;
  color: black;
  font-size: 1rem;
  background-color: var(--bg-color);
}

.contact-form__form-group.message button[type="submit"] {
  all: unset;
  width: auto;
  height: auto;
  align-self: end;

  background-color: #000;
  color: #54e7ff;           /* lightning blue */
  border: 2px solid #54e7ff;

  text-align: center;
  padding-block: 0.35em;
  padding-inline: 0.95em;
  border-radius: 0.3em;

  cursor: pointer;
  transition: transform 0.18s ease-in-out, background-color 0.18s ease-in-out, color 0.18s ease-in-out, border-color 0.18s ease-in-out;
}

.contact-form__form-group.message button[type="submit"]:hover {
  background-color: #54e7ff;
  color: #000;
  transform: translateY(-1px);
}

.contact-form__form-group.message button[type="submit"]:active {
  transform: translateY(0);
  background-color: #000;
  color: #fff;
  border-color: #fff;
}