#logo{
  width: 100%;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(52, 80, 80, 0.85);
  z-index: 1;
  
}

#logo__image{
  display:block; /*Since images are always inline, text-align also work on centering etc.*/
  margin:0 auto;
  z-index: 1;
}

@media (min-width: 1200px) {
  #logo {
  --padding: 25px;
  padding: var(--padding) 0px;
  }

  #logo__image {
    width: 406px;
  }
  
}
@media (max-width: 1200px) {
  #logo {
    padding: 15px 0;
  }

  #logo__image {
    width: 280px;
  }
  
}
@media (max-width: 992px) {
  #logo {
    padding: 12.5px 0;
  }

  #logo__image {
    width: 280px;
  }
  
}
@media (max-width: 768px) {
  #logo {
    padding: 15px 0;
  }

  #logo__image {
    width: 280px;
  }
}
@media (max-width: 480px) {
  #logo {
    padding: 11.5px 0;
  }

  #logo__image {
    width: 171px;
  }
}



 