.logo__container {
  width: 100dvw;
  height: var(--logo-height, 79px);
  background-color: rgba(52, 80, 80, 0.85);
  z-index: 100;
  display: flex;
  justify-content: center;
}

.logo__content {
  width: max-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px; 
}

.logo__image {
  width: clamp(220px, 32vw, 480px); 
  height: auto;
  display: block; 
}

@media (max-width: 992px) {
  .logo__content {
    padding-block: 12.5px;
  }
}

@media (max-width: 480px) {
  .logo__container {
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo__content {
    padding-block: 11.5px;
  }

  .logo__image {
    width: 71.8%;
    max-width: 520px; 
  }
}
