.navbar__container {
  position: sticky;
  top: 0;
  width:100%;
  height: 6vh;
  background-color: rgba(73, 104, 104, 0.85);
  
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /*so the carpets refer to this only, instead of nav AND menu main*/
  /*! gap: 0.7%; */
  
  width: 100%;
  height: 100%;
  /*! outline: 1px solid red; */
}

.navbar__option {
  cursor: pointer; 
  list-style: none;
  height: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.9%;
}
.navbar__option-link {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 1.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 100%;
  justify-content: center;
}
.navbar__option-link:hover {
  background-color:#ffffffbf;
  cursor:pointer;
  color:black;
  border: 2px solid black;
}

.submenu{
  display:grid;
  grid-template-columns: repeat(2, 17%);
  grid-template-rows: max-content;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: max-content;
  /*! outline: 2px solid red; */
  justify-content: center;
  align-items: start;
  column-gap: 12.7%;
  row-gap: 12.7%;
  opacity: 1;
  pointer-events: none;
  opacity: 0;
  padding-bottom:5%;
  padding-top: 2%;
  transition: opacity 0.6s ease-in-out, background-color 1s ease-in-out;
}

.submenu.active{
  opacity: 1;
  pointer-events: auto;
  background-color: #ffffffa6;
  transition: opacity 0.6s ease-in-out, background-color 2s ease-in-out;
}


.submenu__section{
  position:relative;
  width: 111%;
  /*! height: 100%; */
  display: flex;
  flex-direction: column;
  height: max-content;
  /*! outline: 2px solid green; */
}

.submenu__section--image { 
  grid-column: 2;
  grid-row: 1;
}

.submenu__section h2 {
  color: rgb(143, 143, 143);
  font-size: 25px; /*was 18px*/
  font-family: 'EB Garamond', serif;
  margin-bottom: 19px;
}
.submenu__section ul {
  list-style:none; 
  margin-bottom: 8px;
}
.submenu__section ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}

.submenu__section-image-container {
  width: 100%;
  height: 37.8vh;
  position: absolute;
  top: 100%;
  left: 0;
}
.submenu__section-image {
  width: 100%;
  height: 100%;
}

.submenu__bg-animation-background{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 10vh;
  background: rgb(0, 0, 0);
  opacity:0;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out;
  pointer-events:none;
}
.submenu__bg-animation--left{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
}
.submenu__bg-animation--right{
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  height: 10vh;
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
  
}

.submenu__bg-animation--left.active {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}
.submenu__bg-animation--right.active {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}
.submenu__bg-animation-background.active{
  opacity:1;
}


.submenu__section p {
  line-height: 25.6px;
}
.submenu__section ul li a {
  line-height: 30.4px;
}

.submenu__section ul li a:hover {
  text-decoration-line: underline;
  cursor:pointer;
}

.submenu__section h2:hover {
  cursor: pointer;
}

.submenu__section h2:hover {
  cursor: pointer;
}