.track-menu__container {
  width: 100%;
  height: 45px;
  padding-left: 1.7%;
  background-color: white;
}

.track-menu__content {
  display: flex;
  justify-content: flex-start; /* same as start */
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: 0.5%;
  /* optional safety if breadcrumb gets long */
  overflow-x: auto;
  white-space: nowrap;
}

.track-menu__content a {
  text-decoration: none;
  color: black;
}

.track-menu__content a:hover {
  text-decoration: underline;
}
