.track-menu__container {
  width:100vw;
  height:45px;
  
  margin-left: 1.7%;
}

.track-menu__content {
  display:flex;
  justify-content:start;
  width:100%;
  height:100.0%;
  /*! outline: 2px solid green; */
  align-items: center;
  column-gap: 0.5%;
}

.track-menu__content a{
  text-decoration:none;
  color: black;
}

.track-menu__content a:hover{
  text-decoration:underline;
}

@media (min-width: 1200px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 480px) {
  
}