.poster {
  --poster-h1-fontsize:30px;
  --poster-p-fontsize:28px;
}
.poster__container{
  width:100%;
  /*! height: 1540.7px; */
  background-color:white;
  padding-top: 153px;
  padding-bottom: 6.5%;
}

.poster__content {
  width:100%;
  /*! height:100%; */
  display:grid;  
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.poster__text-cell{
  position:relative;
  
  /*! width: 100%; */
  /*! height: 100%; */
}

.poster__text-content{
  position:absolute;
  top: 50%;
  left: 49%;
  transform:  translateX(-50%) translateY(-50%);;
}

.poster__text-content h1{
  font-size:var(--poster-h1-fontsize);
  font-family: var(--standard-font-family);
  text-align:center;
}
.poster__text-content p {
  font-size:var(--poster-p-fontsize);
  font-family: var(--standard-font-family);
  text-align:center;
}

.poster__text-layout {
  width:100%;
  height:100%;
  
  
}

.poster__image {
  object-fit: cover;
}

.poster__image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

@media (min-width: 1200px) {
  .poster__image {

  }
  .poster__container {

  }
  .poster__text-content h1 {

  }
  .poster__text-content p {

  }
  
}
@media (max-width: 1200px) {
  .poster__image {

  }
  .poster__container {
    
  }
  .poster__text-content h1 {

  }
  .poster__text-content p {

  }
  
}
@media (max-width: 992px) {
  .poster__image {

  }
  .poster__container {
    
  height: 1034.4px;
  padding-top: 55.1px;
  }
  .poster__text-content h1 {

  font-size: 1.2rem;
  }
  .poster__text-content p {

  font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .poster__image {

  }
  .poster__container {
    
  }
  .poster__text-content h1 {

  }
  .poster__text-content p {

  }
}
@media (max-width: 480px) {
  .poster__image {

  }
  .poster__container {
    
  height: 505.3px;
  }
  .poster__text-content h1 {

  font-size: 1rem;
  }
  .poster__text-content p {

  font-size: 0.6rem;
  }
}