.promo-banner__container {
  
  width: 100%;
  height:691px;
  background-color: #f0e9e9;
  /*! margin-top: 1vh; */
  display:flex;
  justify-content:center;
  align-items:center;
  
  flex-direction: column;
}

.promo-banner__content {
  width:100%;
  height:100%;
  flex:0 0 auto;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-items: center;
}
.promo-banner__image-content {
  /*! width: 100%; */
  height: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}
.promo-banner__text-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: white;
}

.promo-banner__image {
  /*! width:55.3%; */
  /*! height:100%; */ 
  flex: 0 0 auto;
}

.promo-banner__title{
  display:flex;
  align-items:start;
  font-family: 'EB Garamond', serif;
  
  flex: 0 0 auto;
  /*! padding: 0.5%; */
  justify-content: center;
  align-items: center;
}

.promo-banner__title h1 {
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .promo-banner__image {

  background-size: 107.2%;
  }
  .promo-banner__container{

  }
  .promo-banner__title h1 {
  font-size: 2rem;
}
}
@media (max-width: 1200px) {
  .promo-banner__image {

  }
  .promo-banner__container{
    
  }
  .promo-banner__title h1 {
  font-size: 1rem;
}
}
@media (max-width: 992px) {
  .promo-banner__image {

  background-size: 101.9%;
  }
  .promo-banner__container{
    
  height: 28vh;
  }
  .promo-banner__title h1 {
  font-size: 1rem;
}
}
@media (max-width: 768px) {
  .promo-banner__image {

  }
  .promo-banner__container{
    
  }
  .promo-banner__title h1 {
  font-size: 1rem;
}
}
@media (max-width: 480px) {
  .promo-banner__image {

  background-size: 106.4%;
  }
  .promo-banner__container{
    
  height: 19.7vh;
  }
  .promo-banner__title h1 {
  font-size: 1rem;
}
}