
.add-to-bag:hover {
  background-color: #8080803d;
  cursor:pointer;
}
.add-to-bag:active {
  background-color: #00000070;
}

.add-to-bag {
  all:unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.go-to-checkout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

@media (min-width: 1200px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 480px) {
  
}