.quick-menu {
  position: absolute;
  top: -70%;
  right: 2.4%;
  width: 50px;
  height: 42px;
  display: none;
  border-radius: 23px;
  transition: top 0.5s ease-in-out;
  transform: translateY(-50%);
}

.quick-menu--mobile {
  position: absolute;
  top: 50%;
  right: 6.2%;
  width: 50px;
  height: 42px;
  display: none;
  border-radius: 23px;
  transition: top 0.5s ease-in-out;
  transform: translateY(-50%);
}

.quick-menu.scrolled {
  top: 50%;
}

.quick-menu__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 19.5%;
}

.quick-menu__content-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  outline: 1px solid #ffffff8c;
  border-radius: 9.1px;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  background-color: transparent;
  user-select: none;
}

.quick-menu__content-item--shopping {
  background-color: transparent;
  cursor: none;
  position: relative;
}

.quick-menu__shopping-cart-counter {
  width: 35.2%;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 81%;
  left: -9%;
  background-color: #ff2f2f;
  border-radius: 5.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b2b200;
  opacity: 0;
}

.quick-menu__shopping-cart-counter.active {
  opacity: 1;
}

.quick-menu__shopping-cart-counter-text p {
  color: white;
  font-weight: bold;
}

.quick-menu__content-item--profile:hover {
  cursor: pointer;
  background-color: white;
}

.quick-menu__content-item--profile:active {
  cursor: pointer;
  background-color: black;
}

/* ====== ≥1200px ====== */
@media (min-width: 1200px) {
  .quick-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quick-menu__content-item--shopping:hover {
    background-color: #fffffff0;
    cursor: pointer;
    outline: 2px solid black;
  }
}

/* ====== ≤1200px ====== */
@media (max-width: 1200px) {
  .quick-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ====== ≤992px ====== */
@media (max-width: 992px) {
  .quick-menu {
    height: 62.2%;
    top: -80.2%;
    right: 3.3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ====== ≤768px ====== */
@media (max-width: 768px) {
  .quick-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ====== ≤480px ====== */
@media (max-width: 480px) {
  .quick-menu {
    top: -27px;
    height: 9px;
    right: 22.9px;
    display: none;
  }

  .quick-menu--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.6%;
    width: 50px;
    height: 29.5px;
  }

  .quick-menu__content-item--profile {
    display: none;
  }

  .quick-menu__shopping-cart-counter {
    width: 24px;
  }

  .quick-menu__shopping-cart-counter-text p {
    font-size: 0.85rem;
  }

  .quick-menu__content-item--shopping:active {
    background-color: #fffffff0;
    cursor: pointer;
    outline: 2px solid black;
  }
}
