.poster-slideshow__container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 968px;
  background-color: white;
  padding-block: 114px;
  box-sizing: border-box;
}

.poster-slideshow__image-container {
  position: relative;
  display: block;
  width: 91.8%;
  height: 100%;
  overflow: hidden;
}

.poster-slideshow__image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%); 
  transition: opacity 1s ease, transform 1.1s ease;
  object-fit: cover;
}

.poster-slideshow__image.active {
  opacity: 1;
  transform: translateX(0);
}

.poster-slideshow__image.exit {
  opacity: 0;
  transform: translateX(-100%); 
}

.poster-slideshow__text-container {
  position: absolute;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.599);
  opacity: 0;
  transition: opacity 2s ease;
  border-radius: 10px;
  padding: 15px;
  max-height: 280px;
  /*! width: 30%; */
  height: max-content;
  top: 65%;
  left: 62%;
  text-decoration: none;
  max-width:34%;
}

.poster-slideshow__text-container a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.poster-slideshow__text-container.active {
  opacity: 1;
}

.poster-slideshow__text-container h1 {
  color: white;
  font-size: 2.4rem;
  margin-left: 1%;
}

.poster-slideshow__text-container p {
  color: white;
  font-size: var(--p-submain);
  margin-left: 0.1em;
  max-height: 160px;
}

.poster-slideshow__text-container h2 {
  color: white;
  font-weight: bold;
  font-size: var(--h4);
  margin-bottom: 0.5em;
}

.poster-slideshow__image-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (min-width: 1200px) {
  .poster-slideshow__text-container {
  }

  .poster-slideshow__text-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8%;
  }

  .poster-slideshow__text-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .poster-slideshow__container {
  }

  .poster-slideshow__text-container h2 {
    /*! font-size: 1rem; */
  }

  .poster-slideshow__text-container p {
    /*! font-size: 0.7rem; */
  }
}

@media (max-width: 480px) {
  .poster-slideshow__container {
  }

  .poster-slideshow__text-container h2 {
    font-size: 0.5rem;
  }

  .poster-slideshow__text-container p {
    font-size: 0.3rem;
  }
  .poster-slideshow__container{height: 600px;}
}
