.poster-slideshow__container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 968px;
  background-color: white;
  padding-top: 114px;
  box-sizing: content-box;
}

.poster-slideshow__image-container {
  position: relative;
  display: block;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.poster-slideshow__image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%); 
  transition: opacity 1s ease, transform 1.1s ease;
}

.poster-slideshow__image.active {
  opacity: 1;
  transform: translateX(0);
}

.poster-slideshow__image.exit {
  opacity: 0;
  transform: translateX(-100%); 
}

.poster-slideshow__text-container {
  position: absolute;
  top: 47.2%;
  left: 54%;
  width: 41.4%;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.599);
  opacity: 0;
  transition: opacity 2s ease;
  border-radius: 10px;
  padding: 15px;
}

.poster-slideshow__text-container a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.poster-slideshow__text-container.active {
  opacity: 1;
}

.poster-slideshow__text-container h1 {
  color: white;
  font-size: 2.4rem;
  margin-left: 1%;
}

.poster-slideshow__text-container p {
  color: white;
  font-size: 1.4rem;
  margin-left: 1%;
}

.poster-slideshow__text-container h2 {
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .poster-slideshow__text-container {
    width: 30%;
    height: max-content;
    top: 65%;
    left: 62%;
  }

  .poster-slideshow__text-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8%;
  }

  .poster-slideshow__text-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .poster-slideshow__container {
    height: 600px;
  }

  .poster-slideshow__text-container h2 {
    font-size: 1rem;
  }

  .poster-slideshow__text-container p {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .poster-slideshow__container {
    height: 328.7px;
  }

  .poster-slideshow__text-container h2 {
    font-size: 0.7rem;
  }

  .poster-slideshow__text-container p {
    font-size: 0.6rem;
  }
}
