.poster-slideshow__container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 968px;
  /*! outline: 1px solid red; */
  background-color: white;
}

.poster-slideshow__image-container {
  position: relative;
  display: block;
  width: 80%;
  height: 80%;
  overflow: hidden;
  /*! outline: 1px solid rgb(0, 17, 255); */
}

.poster-slideshow__image {
  position: absolute;
  /* stack them on top of each other */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(100%);
  /*starts off screen from the right*/
  transition: opacity 1s ease, transform 1.1s ease;
}

.poster-slideshow__image.active {
  opacity: 1;
  transform: translateX(0);
}

.poster-slideshow__image.exit {
  opacity: 0;
  transform: translateX(-100%);
  /* slide out to the left */
}


.poster-slideshow__text-container {
  position: absolute;
  top: 38%;
  left: 54%;
  width: 37.2%;
  height: max-content;
  /*! outline: 1px solid rgb(47, 255, 0); */
  background-color: rgba(0, 0, 0, 0.599);
  opacity: 0;
  transition: opacity 2s ease;
  border-radius: 10px;
  padding: 15px;
}

.poster-slideshow__text-container a {
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
}



.poster-slideshow__text-container.active {
  opacity: 1;
  transition: opacity 2s ease;
}

.poster-slideshow__text-container h1 {
  color: white;
  font-size: 2.4rem;
  margin-left: 1%;
}

.poster-slideshow__text-container p {
  color: white;
  font-size: 1.4rem;
  margin-left: 1%;
}

@media (min-width: 1200px) {
  .poster-slideshow__container {}

  .poster-slideshow__text-container h1 {
    font-size: 2.0rem;
    margin-bottom: 1.8%;
  }

  .poster-slideshow__text-container p {
    font-size: 1.1rem;
  }
}

@media (max-width: 1200px) {
  .poster-slideshow__container {}

  .poster-slideshow__text-container h1 {}

  .poster-slideshow__text-container p {}
}

@media (max-width: 992px) {

  .poster-slideshow__container {
    height: 600px;
  }

  .poster-slideshow__text-container h1 {
    font-size: 1.0rem;
  }

  .poster-slideshow__text-container p {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .poster-slideshow__container {}

  .poster-slideshow__text-container h1 {}

  .poster-slideshow__text-container p {}
}

@media (max-width: 480px) {
  .poster-slideshow__container {
    height: 328.7px;
  }

  .poster-slideshow__text-container h1 {
    font-size: 0.7rem;
  }

  .poster-slideshow__text-container p {
    font-size: 0.6rem;
  }
}