
.poster-slideshow__container {
  display:flex;
  justify-content:center;
  align-items:start;
  width:100%;
  height:968px;
  /*! outline: 1px solid red; */
  background-color: white;
}

.poster-slideshow__image-container{
  position:relative;
  display:block;
  width:80%;
  height:80%;
  overflow:hidden;
  /*! outline: 1px solid rgb(0, 17, 255); */
}

.poster-slideshow__image{
  position: absolute;       /* stack them on top of each other */
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  opacity:0;
  transform:translateX(100%); /*starts off screen from the right*/
  transition: opacity 1s ease, transform 1.1s ease;
}

.poster-slideshow__image.active {
  opacity:1;
  transform:translateX(0);
}

.poster-slideshow__image.exit {
  opacity: 0;
  transform: translateX(-100%); /* slide out to the left */
}


.poster-slideshow__text-container {
  position:absolute;
  top:65%;
  left:60%;
  width: 25.4%;
  height:20%;
  /*! outline: 1px solid rgb(47, 255, 0); */
  Background-color: rgba(255, 255, 255, 0.322);
  opacity:0;
  transition:opacity 2s ease;
}

.poster-slideshow__text-container.active {
  opacity:1;
  transition:opacity 2s ease;
}

.poster-slideshow__text-container h1 {
  color:white;
  font-size: 2.4rem;
  margin-left: 1%;
}

.poster-slideshow__text-container p {
  color:white;
  font-size: 1.4rem;
  margin-left: 1%;
}

@media (min-width: 1200px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 480px) {
  
}