
.stages-to-checkout__container{
  display:flex;
  justify-content:center;
  width:100.5%;
  height:10vh;
}

.stages-to-checkout__content {
  width:98.6%;
  height:64.3%;
  display:flex;
  /*! outline: 2px solid blue; */
  gap: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*! outline: 1px solid #a6a6a6; */
  /*! border: 2px solid #a5b9a53b; */
}

.stages-to-checkout__stage {
  display:flex;
  justify-content:start;
  align-items:center;
  width: 17.5%;
  height:75.4%;
  /*! outline:2px solid red; */
  /*! margin-left:2vw; */
  /*! margin-right:2vw; */
  /*! background-color: rgb(131, 1, 1); */
  outline: 1px solid #a6a6a6;
  border: 2px solid #a5b9a53b;
  border-radius: 28px;
  flex: 0 0 auto;
}

.stages-to-checkout__stage h1 {
  font-size: 2.0rem;
  font-weight: normal;
  margin-left: 8.7%;
}