*{
  margin: 0;
  padding:0;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover; /*the fill type of the media*/
}

header{
  display:grid;
  grid-template-rows: 1fr 1fr;
}

#logo-bg {
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(76, 128, 128, 0.377);
}

#logo{
  display:block; /*Since images are always inline, text-align also work on centereing etc.*/
  margin:0 auto;
}


nav {
  position: sticky; /*so it stays pinned at the top as you scroll*/
  grid-row:2; /*not really necessary since the browser already interprets it this way*/
}

.menu-main {
  display: flex;
  justify-content: center;
  position: relative; /*so the carpets refer to this only, instead of nav AND menu main*/
  z-index: 4;
  width: 100vw;
  padding: 20px 0px;
  background-color: rgba(49, 82, 82, 0.377);
  margin:0;
}

#dropdown-carpet{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: 500px;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.6s ease-in-out;
  z-index: -1;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
}

#dropdown-carpet2 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100vw;
  height: 500px;
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.6s ease-in-out;
  z-index: -1;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
  
}

.button:hover ~ #dropdown-carpet {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}

.button:hover ~ #dropdown-carpet2 {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}




.button {
  /*No button relative here, so I can get the hover zone to span across the entire navbar*/
  cursor: pointer; /*changes cursor appearance when NOT hovering over it*/
  list-style: none;
  z-index: 2;
}

.button-text {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding: 5px 15px;
  display: block;
}



.menu-sub{
  display:grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: auto; /* rows expand to content */
  align-items:start;
  justify-items:start;

  overflow: visible;

  position: absolute;

  row-gap: 40px;

  top:0;
  left: 50%;
  transform: translateX(-50%);
  width:max-content; /*size based on content , can also use "auto" , since 100% will be the ancestors relative*/
  height:max-content;/*size based on content , can also use "auto" , since 100% will be the ancestors relative*/

  pointer-events:none;

  text-align: left;
  z-index: 1;
  visibility: hidden; 
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}



.menu-section:first-child {
  margin-top: 100px;
}

.menu-section.wide {
  grid-column: span 2;
}

.menu-section.craft{
  transform: translateX(0px) translateY(0px);
}
.menu-section.moments{
  grid-column:1;
}

.menu-section.bracelets {
  position: relative;
  grid-column: 2;
  grid-row: 1 / span 2;
  margin-top: 100px;
}

.image-bracelet1{
  position: absolute;
  top: 100%;  /* adjust as needed */
  left: 0;
  max-height: 360px;
  width: auto;
}



.menu-sub > * {
  outline: 1px solid rgb(255, 0, 0);
}



.menu-sub h2 {
  color: rgb(143, 143, 143);
  font-size: 25px; /*was 18px*/
  margin-bottom: 5px;
  font-family: 'EB Garamond', serif;

}

.menu-sub ul {
  padding: 0;
  margin-top: 8px;
  
}

.menu-sub li{
  display:block; /*Instead of stacking inline*/
}

.menu-sub ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding: 3px 0;
  margin-top: 2px;

}





/* Show dropdown only when hovering the button */
nav .button:hover .menu-sub{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display:grid;
}



main {
  margin-top: clamp(45px, 5vh, 100px);
}

.banner {
  text-align: center;
  margin-top: 600px;
}

.banner-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.banner-items article {
  border: 1px solid transparent;
}