:root{
  --promo--width: 1vw;
  --promo--height: 1vh;
  --promo-translateX: 10%;

  --poster-width:100vw;
  --poster-height:110vh;
  --poster-padding-top: 16vh;
  --poster-row-height:110vh;
  --poster-h1-width: 1vw;
  --poster-h1-height:1vh;
  --poster-h1-fontsize:30px;
  --poster-text-position-left:49%;
  --poster-text-position-top:50%;
  --poster-text-translateX: translateX(-50%);
  --poster-text-translateY: translateY(-50%);
  --poster-p-width:1vw;
  --poster-p-height:1vh;
  --poster-p-fontsize:28px;
  --poster-font-family:'EB Garamond', serif;

  --highlight-grid-cell-width:1vw;
  --highlight-grid-cell-height:1vw;
  --highlight-grid-cell-col-gap:1vw;
  --highlight-grid-cell-h1-width:1vw;
  --highlight-grid-cell-h1-height:1vh;
  --highlight-grid-cell-p-width:1vw;
  --highlight-grid-cell-p-height:1vh;

  --selection-grid-cell-width:1vw;
  --selection-grid-cell-height:1vh;
  --selection-grid-cell-col-gap: 1vw;
  --selection-grid-cell-h1-width: 1vw;
  --selection-grid-cell-h1-height: 1vh;
  --selection-grid-cell-p-width:1vw;
  --selection-grid-cell-p-height:1vh;

  --scroll-highlight-margin-horizontal:5vw;
  --scroll-highlight-grid-cell-width: 24vw;
  --scroll-highlight-grid-cell-height: 1vw;
  --scroll-highlight-width: calc(100vw - var(--scroll-highlight-margin-horizontal) * 2);
  --scroll-highlight-height: 61vh;
  --scroll-highlight-margin-offset-fix: 1vw;
  --scroll-highlight-number-of-visible-items: 3;
}

*{
  margin: 0;
  padding:0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover; /*the fill type of the media*/
  
}
body{
  background-color:black;
}

header{
  display:grid;
  grid-template-rows: max-content max-content;
  position: relative;
  z-index: -1;
}

#logo{
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(52, 80, 80, 0.85);
  z-index: 1;
  
}

#logo__image{
  display:block; /*Since images are always inline, text-align also work on centering etc.*/
  margin:0 auto;
  z-index: 1;
}
/*CARPETS /////////////////////////////////////////////////*/
#dropdown-carpet-background{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgb(0, 0, 0);
  opacity:0;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out;
  pointer-events:none;
}
#dropdown-carpet{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
}
#dropdown-carpet2 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
  
}

/*NAVBAR /////////////////////////////////////////////////*/
.navbar {
  position: sticky;
  top: 0;
  grid-row:2; /*not really necessary since the browser already interprets it this way*/
  z-index: 20;
}
.navbar__menu {
  display: flex;
  justify-content: center;
  position: relative; /*so the carpets refer to this only, instead of nav AND menu main*/
  z-index: 1;
  width: 100vw;
  padding: 14px 0px;
  background-color: rgba(73, 104, 104, 0.85);
  margin:0;
  gap: 5px;
}
.navbar__option {
  /*No button relative here, so I can get the hover zone to span across the entire navbar*/
  cursor: pointer; /*changes cursor appearance when NOT hovering over it*/
  list-style: none;
  z-index: 4;
}
.navbar__option-link {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 22.2px;
  padding: 5px 15px;
  display: block;
}
.navbar__option:hover ~ #dropdown-carpet,
.submenu:hover ~ #dropdown-carpet {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}
.navbar__option:hover ~ #dropdown-carpet2,
.submenu:hover ~ #dropdown-carpet2 {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}
.navbar__option:hover ~ #dropdown-carpet-background{
  opacity:1;
}

/*SUBMENU /////////////////////////////////////////////////////////////*/
.submenu * {
  pointer-events: auto; /* allow interaction INSIDE submenu */
  outline: 1px solid rgba(255, 0, 0, 0);
}
.submenu{
  position: absolute;
  display:grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: max-content; /* rows expand to content ONLY and not the height set here */
  align-items:start;
  justify-items:start;

  overflow: visible;

  row-gap: 40px;

  padding-top:100px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  padding-bottom:220px;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width:max-content; /*size based on content , can also use "auto" , since 100% will be the ancestors relative*/

  pointer-events:none;

  text-align: left;
  z-index: 3;
  opacity: 0;
  visibility:hidden;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}
.submenu__section{
  min-width:540px; /*This seems to be enough to push the grid cells from left to right and top to bottom*/
  position: relative; /*This is to remove the image from the grid flow for more flexibility*/
  outline: 1px solid rgb(255, 0, 0);
}
.submenu__section img{
  position: absolute;
  top: 100%;  /* adjust as needed */
  left: 0;
  max-height: 360px;
  width: auto;
}
.submenu__section h2 {
  color: rgb(143, 143, 143);
  font-size: 25px; /*was 18px*/
  font-family: 'EB Garamond', serif;
  margin-bottom: 5px;
}
.submenu__section ul {
  list-style:none; 
  margin-bottom: 8px;
}
.submenu__section ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}
.navbar__option:hover + .submenu,
.submenu:hover {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/**/
main .empty-filler{
  height:74.9vh;
}
/**/


.promo-banner {
  
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: whitesmoke;
  /*! margin-top: 1vh; */
}

.promo-banner__layout {
  position:relative;
  width:57vw;
  height:66vh;
  background-image: url("media/promo-banner.jpg");
  background-size: 102%;    
  background-position: 48% 40%;
}

.promo-banner__content {
  position:absolute;
  width:100%;
  height:100%;
  top:10%;
  left:25%;
  text-align:left;
}

.promo-banner__content h1{
  font-family: 'EB Garamond', serif;
}



.title-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100vw;
  height: 9vh;
}
.title-banner h1 {
  font-size: 35.1px;
  font-family: 'EB Garamond', serif;
  color: #242424;
}

/*COLLAGE ///////////////////////////////////////////////////*/
.collage {
  position: relative;
  width: 100vw;
}

.u-pointer-none {
  pointer-events:none;
}

.grid * {
  outline: 1px solid rgba(255, 0, 0, 0);
}

.grid{ /*grid list*/
  display:grid;
  list-style:none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  position: relative;
  
}

.grid__template-col1 {
   grid-template-columns: 1fr
}
.grid__template-col2 {
   grid-template-columns: 1fr 1fr
}
.grid__template-col3 {
   grid-template-columns: 1fr 1fr 1fr
}
.grid__template-col4 {
   grid-template-columns: 1fr 1fr 1fr 1fr
}
.grid__template-col5 {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}
.grid__template-col6 {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}
.grid__template-col7 {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}
.grid__template-col8 {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.grid__template-row1 {
   grid-template-rows: 1fr
}
.grid__template-row2 {
   grid-template-rows: 1fr 1fr
}
.grid__template-row3 {
   grid-template-rows: 1fr 1fr 1fr
}
.grid__template-row4 {
   grid-template-rows: 1fr 1fr 1fr 1fr
}
.grid__template-row5 {
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr
}
.grid__template-row6 {
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr
}
.grid__template-row7 {
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}
.grid__template-row8 {
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}

.grid__overflow-hidden {
  overflow:hidden;
}
.grid__overflow-auto {
  overflow:auto;
}

.grid__cell{
  position:relative;
}

.grid__cell--col1{
  grid-column:1;
}

.grid__cell--col2{
  grid-column:2;
}
.grid__cell--row1{
  grid-row:1;
}
.grid__cell--row2{
  grid-row:2;
}
.grid__cell--row3{
  grid-row:3;
}
.grid__cell--row4{
  grid-row:4;
}
.grid__cell--row5{
  grid-row:5;
}

.grid__cell--row-span2{
  grid-row: span 2;
}


.grid__cell--image-half-page{
  position:relative;
  grid-row:1/7;
}

.grid__cell > img
{
  width:100%;
  height:100%;
  object-fit:cover;
}
.grid__cell--half-quarter > img{
  position:absolute;
  opacity:1;
  transition: height 0.8s ease-in-out, opacity 1.5s ease-in-out;
  
}

.dropdown__button-layout {
  
  height:10vh;
  width:10vh;
  background-color:rgba(255, 255, 255, 0.493); 
  /*! z-index:20; */
}
.dropdown__button-layout img {
  width:100%;
  height:100%;
}


.dropdown__button-layout-position{
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
}
.dropdown__button-layout-position--left-top {
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.dropdown__button-layout-position--left-top-third {
  top: 25%;
  left: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--left-middle {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--left-bottom-third {
  top: 75%;
  left: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--left-bottom {
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
}

.dropdown__button-layout-position--middle-top {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.dropdown__button-layout-position--middle-top-third {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown__button-layout-position--middle-middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown__button-layout-position--middle-bottom-third {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown__button-layout-position--middle-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.dropdown__button-layout-position--right-top {
  top: 0;
  right: 0;
  transform: translate(0, 0);
}

.dropdown__button-layout-position--right-top-third {
  top: 25%;
  right: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--right-middle {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--right-bottom-third {
  top: 75%;
  right: 0;
  transform: translate(0, -50%);
}

.dropdown__button-layout-position--right-bottom {
  bottom: 0;
  right: 0;
  transform: translate(0, 0);
}


.dropdown__position{
  position:absolute;
  /*! align-items:center; */
  top:50%;
  left:-100%;
  width:50vw;
  height:100%;
  transform:translateY(-50%);
}

.dropdown__layout-animation{
  width:100%;
  height:100%;
  transform:scalex(0);
  transition:transform 0.5s ease-in-out;
  transform-origin:right;
  
}
.dropdown__layout {
  background-color:#ffffffe0;
}


.dropdown__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:50vw;
  height:100%;
  gap: 7.6vh;
}


.dropdown__content-position {
  position:absolute;
  top:0;
  left:0;
}

.dropdown__content-animation {
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}

.dropdown__content-text {
  text-align: center;
  width: 15.4vw;
  /*! gap: 10; */
}
.dropdown__content-text h1 {
  margin-bottom: 1.6vh;
}
.dropdown__content-text p {
  /*! margin-top: 15vh; */
  line-height: 2.3vh;
}




.monoscroll {
  display:flex;
  flex-direction:row;
  position:relative;
}

.monoscroll__list-item > img{
  width:14.2vw;
  object-fit: cover;
  height: 25.6vh;
}



.monoscroll__list {
  display: flex;
  flex-direction: row;
  list-style:none;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 14vw;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
}

.monoscroll__list::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.monoscroll__button {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.monoscroll__button-layout {
  color: white;
  border: none;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.monoscroll__button-animation {
  background: rgba(0,0,0,0.5);
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.monoscroll__button-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.monoscroll__button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}


.monoscroll__button--left {
  left:-29%;
}

.monoscroll__button--right {
  right:-29%;
}


.dropdown__button-layout:hover ~ .dropdown__position .dropdown__layout-animation,
.dropdown__button-layout:hover ~ .dropdown__position .dropdown__content,
.dropdown__position:hover .dropdown__layout-animation,
.dropdown__position:hover .dropdown__content {
  transform:scaleX(1);
  opacity:1;
  pointer-events:auto;
}





.grid__cell--half-quarter[data-id="2"][data-grid-id="1"] img {
  object-position: 10% 53%;
}
.grid__cell--half-quarter[data-id="2"][data-grid-id="2"] img {
  object-position: 10% 18%;
}
.grid__cell--half-quarter[data-id="2"][data-grid-id="3"] img {
  object-position: 60% 45%;
}
.grid__cell--half-quarter[data-id="2"][data-grid-id="4"] img {
  object-position: 10% 70%;
}
.grid__cell--half-quarter[data-id="2"][data-grid-id="5"] img {
  object-position: 10% 70%;
  max-height: 100%;
}


.grid__cell--image-half-page img{
  object-position: 10% 30%;
  transition: transform 2s ease;
  transform: scale(1);
}


.grid__cell--half-quarter:hover img{
  position:absolute;
  height:190%;
  z-index:2;
}

.collage__grid-button-animated:hover .collage__grid-button-animation {
  transform: scaleY(1);
}

.grid__cell--half-quarter:hover + .grid__cell--half-quarter img {
  opacity: 0;
}

.grid__cell--half-quarter .collage__grid-button-animated {
  all:unset;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #626262;
  width:20%;
  height:20%;
  border: 3px solid black;
  outline: 3px solid darkgrey;
  opacity:0;
  transition: top 1.3s ease-in-out, opacity 1s ease-in-out;
  text-align:center;
  z-index:4;
  pointer-events:none;
}

.grid__cell--half-quarter .collage__grid-button-animated .collage__grid-button-animation {
 z-index:2;
}

.grid__cell--half-quarter .collage__grid-button-animated h1 {
  position:relative;
  z-index:3;
}


.grid__cell--half-quarter:hover .collage__grid-button-animated{
  top:68%;
  opacity:1;
  pointer-events:auto;
  cursor:pointer;
}

.grid__cell--image-half-page:hover  img {
  transform: scale(1.02); /* zooms out to reveal more */
}






.collage__grid-button {
  all:unset;
  position: absolute;
  top: 35.5%;
  left: 4.7%;
  width: 100%;
  /*! z-index:1; */ /* THIS IS CAUSING INTEREFERECNE*/
}

.collage__grid-button h1 {
  all:unset;
  font-size:45px ;
  font-family: 'EB Garamond', serif;
  color:white;
  outline-color: black;
  text-shadow: 1px 1px 0 #626262; 
  /*! z-index: 10; */
}



.collage__grid-button-center {
  all:unset;
  position: absolute;
  top: 50%;
  left: 50.0%;
  transform: translateX(-50%);
  width: 19.3%;
  height: 80.6px;
  border: 3px solid black;
  outline: 3px solid darkgrey;
  z-index:10;
  cursor:pointer;
}

.collage__grid-button-animation {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  background-color: skyblue;
  z-index:1;
}


.collage__grid-button-center h1{
  position:relative;
  text-align:center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #626262;
  z-index:9;
}

.collage__grid-button-center:hover .collage__grid-button-animation{
  transform: scaleY(1);
}

.scroll-container { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  padding-top:100px;
  padding-bottom:117px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  
}

.scroll-container__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition - this is already set in JS*/
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  /*! overflow-anchor: none;  DOESN*T SEEM TO DO ANYTHING*/
  /*! touch-action: pan-x; DOESN'T SEEM TO DO ANYTHING EITHER*/
  gap: 14px;
}

.scroll-container__menu-container{
  /*! display:flex; */
  /*! width: max-content; */    /* shrink to content */
  position: relative;    /* anchors arrows */
}

.scroll-container__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container__menu-item {
  flex: 0 0 auto;
  margin: 0 0px;
  /*! scroll-snap-align: center; */
  padding: 60px 40px;
  background-color: rgba(255, 255, 255, 0.59);
  border-radius: 20px;
  width: 214px;
  /*! height: 100%; */
}

.scroll-container__menu-item h2 {
  text-align:center;
  margin-top:15px;
  font-size: 21px;
  max-width: 100%;
  font-family: 'EB Garamond', serif;
  /*! height: 100%; */
  font-weight: normal;
}

.scroll-container__menu-item p {
  text-align:center;
  max-width: 100%;
  margin-top:10px;
  font-size: 18px;
  font-family: 'EB Garamond', serif;

  /*! height: 100%; */
  font-weight: lighter;
}

.scroll-container__menu img {
  display: block;
  width: 72%;
  height: 167px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto; /* centers horizontally FOR BLOCK elements that flush left automatically */
}

.scroll-container__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}




.scroll-container--modified { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  height: 400px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgb(254, 254, 255); /* for testing */
}

.scroll-container--modified__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition */
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  overflow-anchor: none;
  touch-action: pan-x;
  gap:40px;
  
}

.scroll-container--modified__menu-container{
  display:flex;
  position: relative;    /* anchors arrows */
  
}

.scroll-container--modified__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container--modified__menu-item {
  flex: 0 0 auto;
  margin: 0 5px;
  scroll-snap-align: center;
  text-align: center;
  align-content: center;
  width: 358px;
  height: 218px;
  background-color: #e8e8e8;
  font-size: 37px;
  font-family: 'EB Garamond', serif;
  border: 10px solid rgb(244, 244, 244);
  justify-content: center;
  color: #353535;
}


.scroll-container--modified__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container--modified__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container--modified__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container--modified__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}


.flex {
  display:flex;
  width:100vw;
  height:100vh;
}

.flex__section{
  display:flex;
  
  
  /*! margin-left: 3vw; */
  /*! margin-right: 3vw; */
  background-color: white;
}

.flex__section-half-half
{
  width: 50vw;
  height: 50vh;
}
.flex__section-half-full
{
  width: 50vw;
  height: 100vh;
}
.flex__section-full-half
{
  width: 100vw;
  height: 50vh;
}
.flex__section-full-full
{
  width: 100vw;
  height: 100vh;
}

.flex__dir-col{
  flex-direction:column;
}

.flex__dir-row{
  flex-direction:row;
}

.flex__section-cell{
  position:relative;
  width:100%;
  height:100%;
}


/*
.flex__item-triangle-layout-back[data-flex-id="1"] {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%); 
  background-color:rgba(0, 0, 0, 0.91);
  
  width:100%;
  height:100%;
  border-radius: 140px;
}

.flex__item-triangle-layout-back[data-flex-id="2"] {
  clip-path: polygon(0 100%, 100% 0, 100% 100%, 100% 100%); 
  background-color:rgba(167, 67, 67, 0.91);
  
  width:100%;
  height:100%;
  border-radius: 140px;
}

.flex__item-triangle-layout-back[data-flex-id="3"] {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%); 
  
  background-color:rgba(0, 0, 0, 0.91);
  
  width:100%;
  height:100%;
  border-radius: 140px;
}

.flex__item-triangle-layout-back[data-flex-id="4"] {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%); 
  background-color:rgba(167, 67, 67, 0.91);
  
  width:100%;
  height:100%;
  border-radius: 140px;
}
*/
.flex__section-cell .flex__item-triangle img{
  object-fit:cover;
  /*! border-radius: 57px; */
  /*! object-position: center; */
}
.flex__section-cell .flex__item-triangle[data-flex-id="1"] img{
  width:100%;
  height:100%;
  clip-path: polygon(0 0, 100% 0, 50% 50%, 0 0%); 
}
.flex__section-cell .flex__item-triangle[data-flex-id="2"] img{
  width:100%;
  height:100%;
  clip-path: polygon(100% 100%, 100% 0%, 50% 50%, 50% 50%); 
}
.flex__section-cell .flex__item-triangle[data-flex-id="3"] img{
  width:100%;
  height:100%;
  clip-path: polygon(0 0, 50% 50%, 100% 0%, 100% 0%); 
}
.flex__section-cell .flex__item-triangle[data-flex-id="4"] img{
  width:100%;
  height:100%;
  clip-path: polygon(0 0, 0 100%, 50% 50%, 50% 50%);
}





/* RULE OF THUMB left X is half of right X to have the proper distance from the background polygon
.flex__item-triangle-layout-front {
  transform-origin: left; 
  background-color:rgba(149, 178, 106, 0.91);
  width:100%;
  height:100%;
    clip-path: polygon(calc(0% + 2.5%) calc(0% + 5%), calc(100% - 10%) calc(0% + 5%), calc(100% - 10%) calc(0% + 5%),calc(0% + 2.5%) calc(100% - 10%));
    border-radius: 281px;
}*/

.flex__item-triangle-position {
  position:absolute;
  top:0%;;
  left:0%;
  width:100%;
  height:100%;
}

.poster{

  grid-template-rows: var(--poster-row-height);
  width: var(--poster-width);
  height: var(--poster-height); 
  /*! position: relative; */
  background-color:white;
  padding-top:var(--poster-padding-top);
}
.poster__text-cell{
  position:relative;
  
  width: 100%;
  height: 100%;
}

.poster__text-content{
  position:absolute;
  top: var(--poster-text-position-top);
  left: var(--poster-text-position-left);
  transform: var(--poster-text-translateX) var(--poster-text-translateY);
}

.poster__text-content h1{
  font-size:var(--poster-h1-fontsize);
  font-family: var(--poster-font-family);
  text-align:center;
}
.poster__text-content p {
  font-size:var(--poster-p-fontsize);
  font-family: var(--poster-font-family);
  text-align:center;
}

.poster__text-layout {
  width:100%;
  height:100%;
  
  
}

.poster__image{
  
}

.poster__image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.scroll-highlight__container {
  position:relative;
  width:100vw; /*Update the number here with JS*/
  height:var(--scroll-highlight-height);
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
}

.scroll-highlight {
  position:absolute;
  left:5vw;
  width:calc(var(--scroll-highlight-width) - var(--scroll-highlight-margin-offset-fix)); /*Update the number here with JS*/
  height:100%;
  grid-template-columns: repeat(10, max-content); /*Update the number here with JS*/
  grid-template-rows: 1fr;
  column-gap: calc(((var(--scroll-highlight-width) - var(--scroll-highlight-grid-cell-width) * var(--scroll-highlight-number-of-visible-items)) / calc(var(--scroll-highlight-number-of-visible-items) - 1)) - var(--scroll-highlight-margin-offset-fix));
  justify-items: left;
  

}

.scroll-highlight__grid-cell {
  position:relative;
  width:var(--scroll-highlight-grid-cell-width);
  border: 2px solid red;
}

.scroll-highlight__grid-cell-content {
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:left;
  align-items:center;
  width:100%;
  height:100%;
  margin-top: 5.9vh;
}

.scroll-highlight__image-cell {
  position:relative;
  width:61.8%;
  /*! height:25.5%; */
  border: 2px solid rgb(4, 0, 255);
  aspect-ratio: 1 / 1;
}

.scroll-highlight__image-content {
  position:absolute;
  top:0;
  left:0;
  
  width:100%;
  height:100%;
}

.scroll-highlight__text-content {
  text-align:center;
  margin-top: 4.6vh;
}
.scroll-highlight__text-content h1{
  margin-bottom:3.0vh;
  font-size:1.6rem;
}
.scroll-highlight__text-content p{
  font-size:1.1rem;
}