#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100vw;
  padding-bottom: 30px;
  background-color: rgba(76, 128, 128, 0.377);
  box-sizing: border-box;
}

#logo-bg {
  text-align: center;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(76, 128, 128, 0.377);
}

#logo {
  display: inline-block;
  width: auto;
  max-width: 100%;
}



.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  z-index: 4;
  width: 100vw;
  padding: 20px 20px 20px 20px;
  background-color: rgba(49, 82, 82, 0.377);

}
/* Base carpet styles 
#dropdown-carpet{
  position: absolute;
  top: 100%;  
  left: 0;
  width: 100vw;
  height: 400px;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0% var(--navbar-bottom), 0% var(--navbar-bottom), 50% 100%, 50% 100%); 
  transition: clip-path 0.4s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

#dropdown-carpet2 {
  position: absolute;
  top: 100%;  
  right: 0;
  width: 100vw;
  height: 400px;
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(0% var(--navbar-bottom), 0% var(--navbar-bottom), 0% 100%, 0% 100%); 
  transition: clip-path 0.4s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
  
}


.navbar:hover #dropdown-carpet {
  clip-path: polygon(0% var(--navbar-bottom)px, 55% var(--navbar-bottom)px, calc(var(--hover-x)*0.9) 100%, 0% 100%);
}

.navbar:hover #dropdown-carpet2 {
  clip-path: polygon(100% var(--navbar-bottom)px, 45% var(--navbar-bottom)px, calc(var(--hover-x)*0.8) 100%, 100% 100%);
}*/





.button {
  position: relative;
  cursor: pointer;
}

.button > a {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding: 5px 15px;
  display: block;
}

/* Mega dropdown styling */
.mega-dropdown {
  position: fixed; /* relative to navbar button */
  top: var(--navbar-bottom);
  left: 0;
  width: 100vw; /* span full viewport width */
  display: flex;
  justify-content: center; /* center content inside */
  gap: 50px;
  background-color: rgba(0,0,0,0.9);
  padding: 30px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 20;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.dropdown-column h2 {
  color: rgb(136,136,136);
  font-size: 18px;
  margin-bottom: 5px;
}

.dropdown-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-column ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  padding: 3px 0;
}

/* Show dropdown only when hovering the button */
.button:hover .mega-dropdown{
  opacity: 1;
  pointer-events: auto;
}

main {
  margin-top: clamp(45px, 5vh, 100px);
}

.banner {
  text-align: center;
  margin-top: 600px;
}

.banner-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.banner-items article {
  border: 1px solid transparent;
}