*{
  margin: 0;
  padding:0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover; /*the fill type of the media*/
  
}
body{
  background-color:black;
}

header{
  display:grid;
  grid-template-rows: max-content max-content;
  position: relative;
  z-index: -1;
}

#logo{
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(52, 80, 80, 0.85);
  z-index: 1;
  
}

#logo__image{
  display:block; /*Since images are always inline, text-align also work on centering etc.*/
  margin:0 auto;
  z-index: 1;
}
/*CARPETS /////////////////////////////////////////////////*/
#dropdown-carpet-background{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgb(0, 0, 0);
  opacity:0;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out;
  pointer-events:none;
}
#dropdown-carpet{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
}
#dropdown-carpet2 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
  
}

/*NAVBAR /////////////////////////////////////////////////*/
.navbar {
  position: sticky;
  top: 0;
  grid-row:2; /*not really necessary since the browser already interprets it this way*/
  z-index: 20;
}
.navbar__menu {
  display: flex;
  justify-content: center;
  position: relative; /*so the carpets refer to this only, instead of nav AND menu main*/
  z-index: 1;
  width: 100vw;
  padding: 14px 0px;
  background-color: rgba(73, 104, 104, 0.85);
  margin:0;
  gap: 5px;
}
.navbar__option {
  /*No button relative here, so I can get the hover zone to span across the entire navbar*/
  cursor: pointer; /*changes cursor appearance when NOT hovering over it*/
  list-style: none;
  z-index: 4;
}
.navbar__option-link {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 22.2px;
  padding: 5px 15px;
  display: block;
}
.navbar__option:hover ~ #dropdown-carpet,
.submenu:hover ~ #dropdown-carpet {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}
.navbar__option:hover ~ #dropdown-carpet2,
.submenu:hover ~ #dropdown-carpet2 {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}
.navbar__option:hover ~ #dropdown-carpet-background{
  opacity:1;
}

/*SUBMENU /////////////////////////////////////////////////////////////*/
.submenu * {
  pointer-events: auto; /* allow interaction INSIDE submenu */
  outline: 1px solid rgba(255, 0, 0, 0);
}
.submenu{
  position: absolute;
  display:grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: max-content; /* rows expand to content ONLY and not the height set here */
  align-items:start;
  justify-items:start;

  overflow: visible;

  row-gap: 40px;

  padding-top:100px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  padding-bottom:220px;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width:max-content; /*size based on content , can also use "auto" , since 100% will be the ancestors relative*/

  pointer-events:none;

  text-align: left;
  z-index: 3;
  opacity: 0;
  visibility:hidden;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}
.submenu__section{
  min-width:540px; /*This seems to be enough to push the grid cells from left to right and top to bottom*/
  position: relative; /*This is to remove the image from the grid flow for more flexibility*/
  outline: 1px solid rgb(255, 0, 0);
}
.submenu__section img{
  position: absolute;
  top: 100%;  /* adjust as needed */
  left: 0;
  max-height: 360px;
  width: auto;
}
.submenu__section h2 {
  color: rgb(143, 143, 143);
  font-size: 25px; /*was 18px*/
  font-family: 'EB Garamond', serif;
  margin-bottom: 5px;
}
.submenu__section ul {
  list-style:none; 
  margin-bottom: 8px;
}
.submenu__section ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
}
.navbar__option:hover + .submenu,
.submenu:hover {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/**/
main .empty-filler{
  height:74.9vh;
}
/**/

.title-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100vw;
  height: 9vh;
}
.title-banner h1 {
  font-size: 35.1px;
  font-family: 'EB Garamond', serif;
  color: #242424;
}

/*COLLAGE ///////////////////////////////////////////////////*/
.collage {
  position: relative;
  width: 100vw;
}

.collage__grid * {
  outline: 1px solid rgba(255, 0, 0, 0);
}

.collage__grid{ /*grid list*/
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 25vh);
  list-style:none;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  padding-top: 69.1px;
  width: 100vw;
  position: relative;
}

.collage__grid-item{
  position:relative;
}

.collage__grid-item.bracelets, .collage__grid-item.watches,
.collage__grid-item.rings,.collage__grid-item.earrings,.collage__grid-item.necklaces {
  grid-column: 1;
}

.collage__grid-item--model-half-full{
  position:relative;
  grid-column: 2;
  grid-row:1/7;
}


.collage__grid-item.collage__grid-item--half-quarter.necklaces {
  grid-row: 5/7;
}


.collage__grid-item--model-half-full .megadropdown-hor{
  z-index:2;
  /*! position: relative; */
}
.collage__grid-item--model-half-full .megadropdown-hor__launch-button {
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  height:10vh;
  width:10vh;
  /*! background-color:black; */
  /*! z-index:20; */
}
.collage__grid-item--model-half-full .megadropdown-hor__launch-button img {
  width:100%;
  height:100%;
}

.collage__grid-item--model-half-full .megadropdown-hor__layout-position{
  position:absolute;
  /*! align-items:center; */
  top:50%;
  left:-100%;
  width:50vw;
  height:100%;
  transform:translateY(-50%);

  pointer-events:none;
}

.collage__grid-item--model-half-full .megadropdown-hor__animation{
  width:100%;
  height:100%;
  transform:scalex(0);
  transition:transform 0.5s ease-in-out;
  transform-origin:right;
  background-color:#ffffffe0;
  pointer-events:none;
}

.collage__grid-item--model-half-full .megadropdown-hor__content{
  position:absolute;
  align-items:center;
  top:0;
  left:0;
  width:50vw;
  height:100%;
  pointer-events:none;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7.6vh;
}

.collage__grid-item--model-half-full .megadropdown-hor__mono-scroll {
  display:flex;
  flex-direction:row;
}

.collage__grid-item--model-half-full .megadropdown-hor__mono-scroll-list-item img{
  width:14.2vw;
  object-fit: cover;
  height: 25.6vh;
}



.collage__grid-item--model-half-full .megadropdown-hor__mono-scroll-list {
  /*! position: absolute; */
  list-style:none;
  /*! top: 50%; */
  /*! left: 50%; */
  /*! transform: translateX(-50%) translateY(-50%); */
  /*! text-align: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*! justify-content: end; */
  /*! margin-left: 50%; */
  /*! transform: translateX(calc(50%/1.5)); */
  overflow-x: auto;
  /*! scrollbar-width: none; */
  width: 14vw;
  scroll-behavior: smooth;
}

.collage__grid-item--model-half-full .megadropdown-hor__content-text {
  text-align: center;
  width: 15.4vw;
  /*! gap: 10; */
}

.collage__grid-item--model-half-full .megadropdown-hor__content-text h1 {
  margin-bottom: 1.6vh;
}
.collage__grid-item--model-half-full .megadropdown-hor__content-text p {
  /*! margin-top: 15vh; */
  line-height: 2.3vh;
}

.collage__grid-item--model-half-full .megadropdown-hor__launch-button:hover ~ .megadropdown-hor__layout-position .megadropdown-hor__animation,
.collage__grid-item--model-half-full .megadropdown-hor__launch-button:hover ~ .megadropdown-hor__layout-position .megadropdown-hor__content,
.collage__grid-item--model-half-full .megadropdown-hor__layout-position:hover .megadropdown-hor__animation,
.collage__grid-item--model-half-full .megadropdown-hor__layout-position:hover .megadropdown-hor__content {
  transform:scaleX(1);
  opacity:1;
  pointer-events:auto;
}



.collage__grid-item  img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.collage__grid-item--half-quarter img{
  position:absolute;
  opacity:1;
  transition: height 0.8s ease-in-out, opacity 1.5s ease-in-out;
  
}

.collage__grid-item--half-quarter.bracelets img {
  object-position: 10% 53%;
}
.collage__grid-item--half-quarter.watches img {
  object-position: 10% 18%;
}
.collage__grid-item--half-quarter.rings img {
  object-position: 60% 45%;
}
.collage__grid-item--half-quarter.earrings img {
  object-position: 10% 70%;
}

.collage__grid-item--half-quarter.necklaces img {
  object-position: 10% 70%;
  max-height: 100%;
}


.collage__grid-item--model-half-full img{
  object-position: 10% 30%;
  transition: transform 2s ease;
  transform: scale(1);
}


.collage__grid-item--half-quarter:hover img{
  position:absolute;
  height:190%;
  z-index:2;
}

.collage__grid-button-animated:hover .collage__grid-button-animation {
  transform: scaleY(1);
}

.collage__grid-item--half-quarter:hover + .collage__grid-item--half-quarter img {
  opacity: 0;
}

.collage__grid-item--half-quarter .collage__grid-button-animated {
  all:unset;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #626262;
  width:20%;
  height:20%;
  border: 3px solid black;
  outline: 3px solid darkgrey;
  opacity:0;
  transition: top 1.3s ease-in-out, opacity 1s ease-in-out;
  text-align:center;
  z-index:4;
  pointer-events:none;
}

.collage__grid-item--half-quarter .collage__grid-button-animated .collage__grid-button-animation {
 z-index:2;
}

.collage__grid-item--half-quarter .collage__grid-button-animated h1 {
  position:relative;
  z-index:3;
}


.collage__grid-item--half-quarter:hover .collage__grid-button-animated{
  top:68%;
  opacity:1;
  pointer-events:auto;
  cursor:pointer;
}

.collage__grid-item--model-half-full:hover  img {
  transform: scale(1.02); /* zooms out to reveal more */
}






.collage__grid-button {
  all:unset;
  position: absolute;
  top: 35.5%;
  left: 4.7%;
  width: 100%;
  /*! z-index:1; */ /* THIS IS CAUSING INTEREFERECNE*/
}

.collage__grid-button h1 {
  all:unset;
  font-size:45px ;
  font-family: 'EB Garamond', serif;
  color:white;
  outline-color: black;
  text-shadow: 1px 1px 0 #626262; 
  /*! z-index: 10; */
}



.collage__grid-button-center {
  all:unset;
  position: absolute;
  top: 50%;
  left: 50.0%;
  transform: translateX(-50%);
  width: 19.3%;
  height: 80.6px;
  border: 3px solid black;
  outline: 3px solid darkgrey;
  z-index:10;
  cursor:pointer;
}

.collage__grid-button-animation {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  background-color: skyblue;
  z-index:1;
}


.collage__grid-button-center h1{
  position:relative;
  text-align:center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #626262;
  z-index:9;
}

.collage__grid-button-center:hover .collage__grid-button-animation{
  transform: scaleY(1);
}

.scroll-container { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  padding-top:100px;
  padding-bottom:117px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  
}

.scroll-container__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition - this is already set in JS*/
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  /*! overflow-anchor: none;  DOESN*T SEEM TO DO ANYTHING*/
  /*! touch-action: pan-x; DOESN'T SEEM TO DO ANYTHING EITHER*/
  gap: 14px;
}

.scroll-container__menu-container{
  /*! display:flex; */
  /*! width: max-content; */    /* shrink to content */
  position: relative;    /* anchors arrows */
}

.scroll-container__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container__menu-item {
  flex: 0 0 auto;
  margin: 0 0px;
  /*! scroll-snap-align: center; */
  padding: 60px 40px;
  background-color: rgba(255, 255, 255, 0.59);
  border-radius: 20px;
  width: 214px;
  /*! height: 100%; */
}

.scroll-container__menu-item h2 {
  text-align:center;
  margin-top:15px;
  font-size: 21px;
  max-width: 100%;
  font-family: 'EB Garamond', serif;
  /*! height: 100%; */
  font-weight: normal;
}

.scroll-container__menu-item p {
  text-align:center;
  max-width: 100%;
  margin-top:10px;
  font-size: 18px;
  font-family: 'EB Garamond', serif;

  /*! height: 100%; */
  font-weight: lighter;
}

.scroll-container__menu img {
  display: block;
  width: 72%;
  height: 167px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto; /* centers horizontally FOR BLOCK elements that flush left automatically */
}

.scroll-container__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}




.scroll-container--modified { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  height: 400px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgb(254, 254, 255); /* for testing */
}

.scroll-container--modified__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition */
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  overflow-anchor: none;
  touch-action: pan-x;
  gap:40px;
  
}

.scroll-container--modified__menu-container{
  display:flex;
  position: relative;    /* anchors arrows */
  
}

.scroll-container--modified__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container--modified__menu-item {
  flex: 0 0 auto;
  margin: 0 5px;
  scroll-snap-align: center;
  text-align: center;
  align-content: center;
  width: 358px;
  height: 218px;
  background-color: #e8e8e8;
  font-size: 37px;
  font-family: 'EB Garamond', serif;
  border: 10px solid rgb(244, 244, 244);
  justify-content: center;
  color: #353535;
}


.scroll-container--modified__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container--modified__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container--modified__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container--modified__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}






