*{
  margin: 0;
  padding:0;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover; /*the fill type of the media*/
  
}
body{
  background-color:black;
}

header{
  display:grid;
  grid-template-rows: max-content max-content;
  position: relative;
  z-index: -1;
}

#logo{
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(52, 80, 80, 0.85);
  z-index: 1;
  
}

#logo__image{
  display:block; /*Since images are always inline, text-align also work on centering etc.*/
  margin:0 auto;
  z-index: 1;
}

#dropdown-carpet-background{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgb(0, 0, 0);
  opacity:0;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out;
  pointer-events:none;
}

#dropdown-carpet{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
}
#dropdown-carpet2 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100vw;
  height: var(--submenu-height);
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.5s ease-in-out, height 0.5s ease-in-out;
  z-index: 2;
  pointer-events: none;
  opacity: 1; /*KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK*/
  
}
.navbar__option:hover ~ #dropdown-carpet,
.submenu:hover ~ #dropdown-carpet {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}
.navbar__option:hover ~ #dropdown-carpet2,
.submenu:hover ~ #dropdown-carpet2 {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}

.navbar__option:hover ~ #dropdown-carpet-background{
  opacity:1;
}

.navbar {
  position: sticky;
  top: 0;
  grid-row:2; /*not really necessary since the browser already interprets it this way*/
  z-index: 1;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  position: relative; /*so the carpets refer to this only, instead of nav AND menu main*/
  z-index: 1;
  width: 100vw;
  padding: 14px 0px;
  background-color: rgba(73, 104, 104, 0.85);
  margin:0;
  gap: 5px;
}


.navbar__menu .navbar__option {
  /*No button relative here, so I can get the hover zone to span across the entire navbar*/
  cursor: pointer; /*changes cursor appearance when NOT hovering over it*/
  list-style: none;
  z-index: 4;
}

.navbar__menu .navbar__option .navbar__option-link {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 22.2px;
  padding: 5px 15px;
  display: block;
}



.submenu{
  position: absolute;
  display:grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: max-content; /* rows expand to content ONLY and not the height set here */
  align-items:start;
  justify-items:start;

  overflow: visible;

  
  row-gap: 40px;

  padding-top:100px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  padding-bottom:220px;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width:max-content; /*size based on content , can also use "auto" , since 100% will be the ancestors relative*/

  pointer-events:none;

  text-align: left;
  z-index: 3;
  opacity: 0;
  visibility:hidden;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}


.submenu * {
  pointer-events: auto; /* allow interaction INSIDE submenu */
  outline: 1px solid rgba(255, 0, 0, 0);
}

.submenu__section{
  min-width:540px; /*This seems to be enough to push the grid cells from left to right and top to bottom*/
}

.submenu__section.wide {
  grid-column: span 2;
}


.submenu__section.bracelets {
  position: relative; /*This is to remove the image from the grid flow for more flexibility*/
}

.submenu__section.bracelets img{
  position: absolute;
  top: 100%;  /* adjust as needed */
  left: 0;
  max-height: 360px;
  width: auto;
}






.submenu h2 {
  color: rgb(143, 143, 143);
  font-size: 25px; /*was 18px*/
  margin-bottom: 5px;
  font-family: 'EB Garamond', serif;

}

.submenu ul {
  padding: 0;
  margin-top: 8px;
  
}

.submenu li{
  display:block; /*Instead of stacking inline*/
}

.submenu ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding: 3px 0;
  margin-top: 2px;

}





/* Show dropdown only when hovering the button */
nav .navbar__option:hover + .submenu,
.submenu:hover {
  opacity: 1;
  pointer-events: auto;
  display:grid;
  visibility: visible;
}

main .empty-filler{
  height:70.7vh;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 57px;
  /*! margin-bottom: 13px; */
  width: 100vw;
}
.banner h1 {
  font-size: 33.1px;
  transform: translateY(29px);
  font-family: 'EB Garamond', serif;
  color: #242424;
}





.scroll-container { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  padding-top:100px;
  padding-bottom:117px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  
}

.scroll-container__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition */
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  overflow-anchor: none;
  touch-action: pan-x;
  gap: 14px;
}

.scroll-container__menu-container{
  /*! display:flex; */
  /*! width: max-content; */    /* shrink to content */
  position: relative;    /* anchors arrows */
}

.scroll-container__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container__menu-item {
  flex: 0 0 auto;
  margin: 0 0px;
  /*! scroll-snap-align: center; */
  padding: 60px 40px;
  background-color: rgba(255, 255, 255, 0.59);
  border-radius: 20px;
  width: 214px;
  /*! height: 100%; */
}

.scroll-container__menu-item h2 {
  text-align:center;
  margin-top:15px;
  font-size: 21px;
  max-width: 100%;
  font-family: 'EB Garamond', serif;
  /*! height: 100%; */
  font-weight: normal;
}

.scroll-container__menu-item p {
  text-align:center;
  max-width: 100%;
  margin-top:10px;
  font-size: 18px;
  font-family: 'EB Garamond', serif;

  /*! height: 100%; */
  font-weight: lighter;
}

.scroll-container__menu img {
  display: block;
  width: 72%;
  height: 167px;
  object-fit: cover;
  border-radius: 8px;
  margin: 0 auto; /* centers horizontally FOR BLOCK elements that flush left automatically */
}

.scroll-container__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}




.scroll-container--modified { /*Used to scpan the viewport width and center the whole thing*/
  position: relative;
  width: 100%;           /* spans viewport */
  height: 400px;
  display: flex;
  justify-content: center; /* centers inner scroll area */
  align-items: center;
  background-color: rgb(254, 254, 255); /* for testing */
}

.scroll-container--modified__menu {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* smooth transition */
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar (Firefox) */
  width: 80vw;
   /* stop the browser from “helping” when DOM changes */
  overflow-anchor: none;
  touch-action: pan-x;
  gap:40px;
  
}

.scroll-container--modified__menu-container{
  display:flex;
  position: relative;    /* anchors arrows */
  
}

.scroll-container--modified__menu::-webkit-scrollbar {
  display: none; /* hide scrollbar (Chrome, Safari) */
}

.scroll-container--modified__menu-item {
  flex: 0 0 auto;
  margin: 0 5px;
  scroll-snap-align: center;
  text-align: center;
  align-content: center;
  width: 358px;
  height: 218px;
  background-color: #e8e8e8;
  font-size: 37px;
  font-family: 'EB Garamond', serif;
  border: 10px solid rgb(244, 244, 244);
  justify-content: center;
  color: #353535;
}


.scroll-container--modified__directional-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.scroll-container--modified__directional-button:hover {
  background: rgba(247, 0, 0, 0.8);
  transform: scale(1.1);
}

/* Critical: position relative to scroll content */
.scroll-container--modified__directional-button.left {
  left: -5%; /* hug the left edge of scroll-menu */
}

.scroll-container--modified__directional-button.right {
  right: -5%; /* hug the right edge of scroll-menu */
}

.collage-container {
  width: 100vw;
}


.collage-container__grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 30vh);

  list-style:none;

  width: 100%;
  background-color: rgba(215, 230, 226, 0.89); /* for testing */
  position: relative;
  
  padding-top: 93px;
  justify-content: center;
}

.collage-container__grid li{
  min-width: 200px;
}


.collage-container__grid li h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  font-size:50px ;
  font-family: 'EB Garamond', serif;
}
.collage-container__grid li.bracelets,
.collage-container__grid li.watches,
.collage-container__grid li.rings,
.collage-container__grid li.earrings {
  grid-column: 1;
}

.collage-container__grid li.necklaces{
  grid-column: 2;
  grid-row:1/5;
}


.collage-container__grid li img{
  width:100%;
  height:100%;
  object-fit:cover;
  /*! align-items: start; */
  /*! justify-items: center; */
  
}
.collage-container__grid li.necklaces img{
  object-position: 10% 220%;
}

  
.collage-container__grid > * {
  outline: 1px solid rgba(255, 0, 0, 0);
  /*! grid-row-start: 2; */
}


.collage-container__grid .rings img {
  object-position: 60% 45%;
  width: 100%;
  object-fit: cover;
}
.collage-container__grid .bracelets img {
  object-position: 10% 53%;
  width: 100%;
}
.collage-container__grid .watches img {
  object-position: 10% 18%;
  width: 100.0%;
}


.collage-container__caption.one .collage-container__caption-container {
    position: absolute;
      top: 7.6%;
        left: -9.1%;
          width: 100%;
          }
          .collage-container__caption.two .collage-container__caption-container {
             position: absolute;
                 top: 37.3%;
                     left: -42.8%;
                         width: 100%;
}




.collage-container__caption.one div h1,
.collage-container__caption.two div h1{
  color:white;
  outline-color: black;
  
  text-shadow: 1px 1px 0 #626262; 
  
}
.collage-container__shop-now-button-container {
  position: absolute;
  top: 50%;
  left: 50.0%;
  transform: translateX(-50%);
  background-color: #b0b0b000;
  width: 19.3%;
  height: 80.6px;
  border: 2px solid black;
  outline-color: black;
}
.collage-container__shop-now-button {
  position:absolute;
  top:0;
  left:0;
  all:unset;
  width:100%;
  height:100%;
}

.collage-container__shop-now-button-layout {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 1s ease-in-out;
  background-color: skyblue;
}



.collage-container__shop-now-button h1{
  text-align:center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0 #626262;
}

.collage-container__shop-now-button:hover .collage-container__shop-now-button-layout{
  transform: scaleY(1);
}






