#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100vw;
  padding-bottom: 30px;
  background-color: rgba(76, 128, 128, 0.377);
  box-sizing: border-box;
}

#logo-bg {
  text-align: center;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(76, 128, 128, 0.377);
}

#logo {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.container {
  max-width:1000px;
  margin: 0 auto;
}

nav {
  box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
}

nav ul {
  margin:0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: left;
}

nav li {
  display:inline-block;
}

nav a {
  text-decoration: none;
  display: block;
}

.menu-main {
  display: flex;
  position: relative;
  left:0;
  justify-content: center;
  align-items: center;
  position: absolute;
  list-style: none;
  z-index: 4;
  width: 100vw;
  padding: 20px 20px 20px 20px;
  background-color: rgba(49, 82, 82, 0.377);
  margin:0;

}


#dropdown-carpet{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100vw;
  height: 500px;
  background: rgba(255, 255, 255, 0.9);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0% 100%); 
  transition: clip-path 0.6s ease-in-out;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

#dropdown-carpet2 {
  position: absolute;
  right: 0;
  top: 100%;
  width: 100vw;
  height: 500px;
  background: rgba(163, 196, 196, 0.9);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); 
  transition: clip-path 0.6s ease-in-out;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  
}


.button:hover ~ #dropdown-carpet {
  clip-path: polygon(0% 0, 55% 0, calc(var(--hover-x, 50vw)*0.9) 100%, 0% 100%);
  opacity:1;
}

.button:hover ~ #dropdown-carpet2 {
  clip-path: polygon(100% 0, 45% 0, calc(var(--hover-x, 50vw)*0.8) 100%, 100% 100%);
  opacity:1;
}




.button {
  cursor: pointer;
  list-style: none;
}

.button-text {
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  padding: 5px 15px;
  display: block;
}



.menu-sub{
  position: absolute;
  width:100%;
  left:0;
  gap: 10px;
  text-align: left;
  
  pointer-events:none;
  min-height: 390px;
  padding: 20px 100px 110px 5px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.014);
  opacity:0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

.menu-sub h2 {
  color: rgb(126, 126, 126);
  font-size: 26px; /*was 18px*/
  margin-bottom: 5px;
  font-family: 'EB Garamond', serif;

  margin-left: 400px;
  margin-top: 55px;
}

.menu-sub ul {
  padding: 0;
  margin-top: 8px;
  
}

.menu-sub li{
  display:block; /*Instead of stacking inline*/
}

.menu-sub ul li a {
  color: rgb(26, 26, 26);
  text-decoration: none;
  font-family: 'EB Garamond', serif;
  font-size: 21px;
  padding: 3px 0;
  margin-top: 2px;

  margin-left: 400px;
}

/* Show dropdown only when hovering the button */
nav .button:hover .menu-sub{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display:block;
}



main {
  margin-top: clamp(45px, 5vh, 100px);
}

.banner {
  text-align: center;
  margin-top: 600px;
}

.banner-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.banner-items article {
  border: 1px solid transparent;
}