#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 100vw;
  padding-bottom: 30px;
  background-color: rgba(76, 128, 128, 0.377);
  box-sizing: border-box;
}

#logo-bg {
  text-align: center;
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: rgba(76, 128, 128, 0.377);
}

#logo {
  display: inline-block;
  width: auto;
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  gap: 20px;
}

.navbar .button {
  background-color: rgba(31, 53, 53, 0.719);
  color: rgb(255, 255, 255);
  padding: 5px 13px;
  width: auto;
  max-width: 240px;
  border-radius: 5px;
  gap: 5px;
}

#dropdown-carpet {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 0;
  height: 600px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  --hover-x: 50%;
  transition: width 1s ease, opacity 0.3s ease, clip-path 0.4s ease, transform 0.5s ease;
}

#dropdown-carpet2 {
  position: absolute;
  right: 0;
  left: auto;
  z-index: 1;
  width: 0;
  height: 600px;
  background: rgba(163, 196, 196, 0.9);
  opacity: 0;
  --hover-x: 50%;
  transition: width 1s ease, opacity 0.3s ease, clip-path 0.4s ease, transform 0.5s ease;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 2;
  min-width: 150px;
  padding: 40px 20px 20px 20px;
  border-radius: 8px;
  text-align: left;
  white-space: nowrap;
  transform: translateX(-5vw);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.button:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0) translateX(-5vw);
  pointer-events: auto;
}

.navbar .button > a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: 'EB Garamond', sans-serif;
  font-size: 20px;
}

.dropdown-main {
  list-style-position: inside;
  text-align: left;
  padding-left: 0;
  margin-left: 0;
}

.dropdown-main li > a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-top: 0.5em;
  font-size: 20px;
  font-family: 'Playfair Display', sans-serif;
}

.navbar li {
  position: relative;
  list-style: none;
}

.dropdown-title {
  color: rgb(136, 136, 136);
}

main {
  margin-top: clamp(45px, 5vh, 100px);
}

.banner {
  text-align: center;
  margin-top: 600px;
}

.banner-items {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.banner-items article {
  border: 1px solid transparent;
}