.trademark__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: white;
  padding-bottom: 0.5%;
}

.trademark__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  /*! background-color: yellow; */
  /*! margin-right: 3.0%; */
}

.trademark__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.trademark__text-container p {
  font-size: var(--h4);
  color: black;
  font-weight: 600;
  align-self: end;
}

.trademark__disclaimer {
  /*! width: 79%; */
  font-size: var(--p-subsubmain);
}

@media (max-width: 992px) {
  .trademark__disclaimer {
    width: 63%;
    padding-right: 8.1%;
  }
}

@media (max-width: 480px) {
  .trademark__text-container p {
    font-size: 0.8rem;
  }

  .trademark__disclaimer {
    width: 58%;
    padding-right: 10.1%;
    font-size: 0.5rem;
  }
  
  .trademark__container {
  
  width: 82%;
 
}
}
