.trademark__container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 7%;
  background-color: white;
  /*! outline: 1px solid red; */
  padding-bottom: 0.5%;
}

.trademark__content {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  height: 90%;
  /*! background-color: yellow; */
  margin-right: 3.0%;
}

.trademark__text-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.trademark__text-container p {
  font-size: 1.3rem;
  color: black;
  font-weight: 600;
}

.trademark__disclaimer {
  width: 79%;
  padding-right: 26.1%;
  font-size: 1rem;
}

@media (max-width: 992px) {
  .trademark__disclaimer {
    width: 63%;
    padding-right: 8.1%;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .trademark__text-container p {
    font-size: 0.8rem;
  }

  .trademark__disclaimer {
    width: 58%;
    padding-right: 10.1%;
    font-size: 0.5rem;
  }
}
